h2 {
  margin: 0;
  color: #111827;
  font-weight: 700;
  font-size: 20px;
}

p {
  font-size: 15px;
  color: #4b5563;
  margin-top: 8px;
}

button {
  border-radius: 8px !important;
  font-weight: 600;
}
